apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: system-gateway
spec:
  selector:
    istio: internal-ingress
  servers:
{% if istio.internal_gateway.insecure.enabled %}
    - port:
        number: 80
        name: http-internal
        protocol: HTTP
      hosts:
{% for _host in istio.internal_gateway.insecure.hosts %}
      - {{ _host }}
{% endfor %}
{% endif %}
{% if istio.internal_gateway.secure.enabled %}
{% for _host in istio.internal_gateway.secure.tls.hosts %}
    - port:
        number: 443
        name: https-internal-{{ _host.host }}
        protocol: HTTPS
      tls:
        mode: SIMPLE
        credentialName: internal-gateway-certificate
      hosts:
      - {{ _host.host }}
{% endfor %}
{% endif %}

---

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: external-gateway
spec:
  selector:
    istio: external-ingress
  servers:
{% if istio.external_gateway.insecure.enabled %}
    - port:
        number: 80
        name: http-external
        protocol: HTTP
      hosts:
{% for _host in istio.external_gateway.insecure.hosts %}
      - {{ _host }}
{% endfor %}
{% endif %}
{% if istio.external_gateway.secure.enabled %}
{% for _host in istio.external_gateway.secure.tls.hosts %}
    - port:
        number: 443
        name: https-external-{{ _host.host }}
        protocol: HTTPS
      tls:
        mode: SIMPLE
{% if _host.create_self_signed_certificate is defined and _host.create_self_signed_certificate %}
        credentialName: external-gateway-certificate
{% endif %}
{% if _host.create_self_signed_certificate is defined and not _host.create_self_signed_certificate and _host.certificate_path is defined %}
        credentialName: tls-certificate-external-{{ _host.host }}
{% endif %}
      hosts:
      - {{ _host.host }}
{% endfor %}
{% endif %}