---
kubernetes:
  cluster_name: k0s-cluster01
  controlplane:
    count: 3
  worker:
    count: 3

vcenter:
  host: vcenter.local
  username: Administrator@vSphere.local
  password: changeme
  datacenter: dc01
  cluster: cluster01
  resource_pool: pool01

metallb:
  enabled: true
  addresses:
  - 172.31.1.245-172.31.1.254

istio:
  enabled: true
  ingress: true
  injection_namespaces:
  - istio-ingress
  - default

host:
  vm_user: ubuntu
  ssh_public_key: ""
  ssh_private_key_path: '/path/to/your/private/key/id_rsa'

  controlplane:
    hostname: cp
    domain: k0s.local
    vcpu: 4
    ram: 4096
    disk_datastore: datastore1
    disk_size: 50
    network_name: CP-Network

  worker:
    hostname: worker
    domain: k0s.local
    vcpu: 4
    ram: 8192
    disk_datastore: datastore1
    disk_size: 50
    network_name: Worker-Network

  lb:
    hostname: lb
    domain: k0s.local
    vcpu: 2
    ram: 2048
    disk_datastore: datastore1
    disk_size: 15
    network_name: CP-Network
