---

# ----------------------------------------------------------------------------------------
#                                  METALLB CONFIGURATION
#         Please see roles/k0s/README.md for documentation on the variables.
# ----------------------------------------------------------------------------------------
metallb:
  enabled: true
  chart_version: 2.6.8
  addresses:
  - 172.31.1.245-172.31.1.254

# ----------------------------------------------------------------------------------------
#                                  ISTIO CONFIGURATION
#         Please see roles/istio/README.md for documentation on the variables.
# ----------------------------------------------------------------------------------------
istio:
  enabled: true
  chart_version: 1.13.2
  ingress: true
  internal_gateway:
    insecure: true
    secure:
      enabled: false
      tls:
        hosts:
          - { host: domain1.local, create_self_signed_certificate: false, certificate_path: /path/to/domain1-folder/ }
          - { host: domain2.test, create_self_signed_certificate: true }
  external_gateway:
    insecure: true
    secure:
      enabled: false
      tls:
        hosts:
          - { host: domain1.local, create_self_signed_certificate: false, certificate_path: /path/to/domain1-folder/ }
          - { host: domain2.test, create_self_signed_certificate: true }

# ----------------------------------------------------------------------------------------
#                              MONITORING CONFIGURATION
#         Please see roles/monitoring/README.md for documentation on the variables.
# ----------------------------------------------------------------------------------------
monitoring:
  domain: monitoring.mycluster.local
  loki_grafana:
    enabled: true
    chart_version: 2.6.1
    basepath: /system/grafana
  kiali:
    enabled: true
    chart_version: 1.48.0
    auth:
      strategy: anonymous

# ----------------------------------------------------------------------------------------
#                              HELLO-KATE CONFIGURATION
#         Please see roles/hello-kate/README.md for documentation on the variables.
# ----------------------------------------------------------------------------------------
test_app:
  enabled: false
  chart_version: 1.5.2
  pvc:
    storage_class: vsphere-csi

# ----------------------------------------------------------------------------------------
#                              k0s CONFIGURATION
#         Please see roles/k0s/README.md for documentation on the variables.
# ----------------------------------------------------------------------------------------
kubernetes:
  cluster_name: k0s-cluster01
  vsphere_cpi_csi:
    enabled: true
    chart_version: 2.3.0

# ----------------------------------------------------------------------------------------
#                              TERRAFORM CONFIGURATION
#         Please see roles/terraform/README.md for documentation on the variables.
# ----------------------------------------------------------------------------------------
vcenter:
  host: vcenter.local
  username: Administrator@vSphere.local
  password: changeme
  datacenter: dc01
  cluster: cluster01
  resource_pool: pool01

host:
  vm_user: ubuntu
  ssh_public_key: ""
  ssh_private_key_path: '/path/to/your/private/key/id_rsa'

  controlplane:
    hostname: cp
    domain: k0s.local
    vcpu: 4
    ram: 4096
    disk_datastore: datastore1
    disk_size: 50
    network_name: CP-Network
    count: 3

  worker:
    hostname: worker
    domain: k0s.local
    vcpu: 4
    ram: 8192
    disk_datastore: datastore1
    disk_size: 50
    network_name: Worker-Network
    count: 3

  lb:
    hostname: lb
    domain: k0s.local
    vcpu: 2
    ram: 2048
    disk_datastore: datastore1
    disk_size: 15
    network_name: CP-Network
