---

grafana:
  adminPassword: admin

{% if istio.enabled and istio.ingress %}
  grafana.ini:
    server:
      serve_from_sub_path: true
      root_url: http://{{ monitoring.domain }}{{ monitoring.basepath }}
{% endif %}

  service:
    type: {{ 'ClusterIP' if (istio.enabled and istio.ingress) else 'LoadBalancer' }}

{% if istio.enabled and istio.ingress %}
prometheusOperator:
  admissionWebhooks:
    patch:
      podAnnotations:
        "sidecar.istio.io/inject": "false"
{% endif %}

{% if false %}
prometheus:
  server:
    persistentVolume:
      enabled: true
      storageClass: vsphere-csi
      accessModes:
      - ReadWriteMany
      size: 10Gi
{% endif %}