---

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: prometheus-stack-grafana-vs
spec:
  hosts:
  - {{ monitoring.domain }}
  gateways:
  - istio-ingress/system-gateway
  http:
  - match:
    - uri:
        prefix: {{ monitoring.basepath }}
    route:
    - destination:
        port:
          number: 80
        host: kube-prometheus-stack-grafana
