---

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: monitoring-vs
spec:
  hosts:
  - {{ monitoring.domain }}
  gateways:
  - istio-ingress/system-gateway
  http:
  - match:
    - uri:
        prefix: {{ monitoring.loki_grafana.basepath }}
    route:
    - destination:
        port:
          number: 80
        host: loki-grafana
{% if monitoring.kiali.enabled %}
  - match:
    - uri:
        prefix: /kiali
    route:
    - destination:
        port:
          number: 20001
        host: kiali.istio-system.svc.cluster.local
{% endif %}