---

service:
  type: {{ 'ClusterIP' if (istio.enabled | bool and istio.ingress | bool) else 'LoadBalancer' }}

mongodb:
  persistence:
    storageClass: {{ test_app.pvc.storage_class }}

ingress:
  enabled: {{ true if (istio.enabled | bool and istio.ingress | bool) else false }}
  istio:
    gateway:
      deploy: false
      ingress_name: external-ingress
    virtualservice:
      deploy: {{ true if (istio.enabled | bool and istio.ingress | bool) else false }}
      gateway: istio-ingress/external-gateway