---

service:
  type: {{ 'ClusterIP' if (istio.enabled | bool and istio.ingress | bool) else 'LoadBalancer' }}

monitoring:
  grafana_dashboard: true
  namespace: monitoring

mongodb:
  persistence:
    storageClass: {{ test_app.pvc.storage_class }}

ingress:
  enabled: {{ true if (istio.enabled | bool and istio.ingress | bool) else false }}
  istio:
    virtualservice:
      deploy: {{ true if (istio.enabled | bool and istio.ingress | bool) else false }}
      gateway: istio-ingress/external-gateway
      hosts:
{% for _host in istio.external_gateway.secure.tls.hosts %}
{% if _host.host not in istio.external_gateway.insecure.hosts %}
      - {{ _host.host }}
{% endif %}
{% endfor %}
{% for _host in istio.external_gateway.insecure.hosts %}
      - {{ _host }}
{% endfor %}